<h2>目標を変更する</h2>

<table class="table">
  <thead>
    <tr>
      <th>画像</th>
      <th>欲しいもの</th>
      <th>値段</th>
      <th>理由</th>
      <th>更新</th>
      <th>削除</th>
    </tr>
  </thead>
  <tbody>
    <% @wants.each do |want| %>
    <%= form_with model: want do |f| %>
    <tr>
      <td><%= attachment_image_tag want, :want_image, :fill, 60, 60, fallback: "no_image.jpg" %><br>
        <%= f.attachment_field :want_image %></td>
        <td><%= f.text_field :name %></td>
        <td><%= f.text_field :price %></td>
        <td><%= f.text_field :reason %></td>
        <td><%= f.submit "←を更新する", class: "btn btn-success" %></td>
        <td><%= link_to "目標から削除する", want_path(want), method: :delete, class: "btn btn-success" %></td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>

  <h2>欲しいものを追加する</h2>

  <%= form_with model: @want do |f| %>
  <table class="table">
    <thead>
      <tr>
        <th> </th>
        <th>欲しいもの</th>
        <th>金額</th>
        <th>理由</th>
        <th>追加</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="btn btn-success">
          <label><%= f.attachment_field :want_image %></label>
        </td>
        <td><%= f.text_field :name %></td>
        <td><%= f.text_field :price %></td>
        <td><%= f.text_field :reason %></td>
        <td><%= f.submit "追加する", class: "btn btn-success" %></td>
      </tr>
    </tbody>
  </table>
  <% end %>


  <!-- 将来、続けて登録する、と、無駄遣いを入力する、に分けてボタンを付けたい -->

  <%= link_to "無駄遣いを入力／変更する", wastes_path, data: {"turbolinks" => false},  class: "btn btn-success" %>
