<h2>欲しいものを登録する</h2>

<%= form_with model: @want do |f| %>
  <%= f.label :欲しいもの %>
  <%= f.text_field :name %>
  <%= f.label :ものの値段 %>
  <%= f.text_field :price %>
  <%= f.label :欲しい理由 %>
  <%= f.text_field :reason %>
  <%= f.submit "登録する" %>
  <!-- 将来、続けて登録する、と、無駄遣いを入力する、に分けてボタンを付けたい -->
<% end %>