<h2>プロフィールの変更 <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <label class="control-label sr-only" for="inputEmail">プロフィール画像</label><br>
  <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", fallback: "no_image.jpg", onClick: "$('.img_field').click()", class: "user-edit-form img_prev" %>

  <div class="field">
    <%= f.label :ニックネーム %><br />
    <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>



  <div class="field">
    <%= f.label :今のパスワード %> <i>(登録情報編集のために)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="field">
    <%= f.label :新しいパスワードにしたいときはこちら %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <%= @minimum_password_length %>文字以上
    <% end %>
  </div>

  <div class="field">
    <%= f.label :新しいパスワード再入力 %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>


  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>


<h3>退会ボタン（現在未実装）</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "マイページに戻る", mypage_path %>
