<div class="container">
  <h2>無駄遣いを変更する</h2>
  <div class="index-base">
    <div class="row">

      <!-- 無駄遣い一覧 -->
      <div class="table-border table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th class="col-xs-3">節約したいもの</th>
              <th class="col-xs-2">金額</th>
              <th class="col-xs-3">理由</th>
              <th class="col-xs-2">マイページに表示</th>

                <% if flash[:hide] %>
                <th class="col-xs-2 alert">
                  <%= flash[:hide] %>
                </th>
                <% else %>
                <th class="col-xs-2">削除</th>
                <% end %>

            </tr>
          </thead>
          <tbody>
            <% @user.wastes.each do |waste| %>
            <% if waste.status != 2 %>
            <tr>
              <td><%= waste.name %></td>
              <td><%= waste.price.to_s(:delimited) %>円</td>
              <td><%= waste.reason %></td>
              <% if waste.status == 0 %>
              <td><%= link_to "マイページから隠す", wastes_hide_path(waste),method: :put, class: "btn btn-success"  %>
              </td>
              <td><%= link_to "無駄遣いから削除", wastes_hide_away_path(waste),method: :put, class: "btn btn-danger"  %></td>
              <% elsif waste.status == 1 %>
              <td><%= link_to "マイページに戻す", wastes_reveal_path(waste),method: :put, class: "btn btn-success"  %>
              </td>
              <td>
                <%= link_to "無駄遣いから削除", wastes_hide_away_path(waste),method: :put, class: "btn btn-danger"  %></td>
                <% else %>
                <td></td>
                <% end %>
                <% end %>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- 節約入力 -->
    <h2>節約したいものを入力</h2>
    <div class="index-base">
      <div class="row">
        <div class="table-border table-responsive">
          <%= form_with model: @waste,local: true do |f| %>
          <table class="table">
            <thead>
              <tr>
                <th class="col-xs-3">節約したいもの</th>
                <th class="col-xs-3">１個／1回あたりの値段(円)</th>
                <th class="col-xs-4">節約／辞めたい理由</th>
                <% if flash[:alert] %>
                <th class="col-xs-2 alert">
                  <%= flash[:alert] %>
                </th>
                <% else %>
                <th class="col-xs-2">更新</th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= f.text_field :name %></td>
                <td><%= f.text_field :price %></td>
                <td><%= f.text_field :reason %></td>
                <td><%= f.submit "追加", class: "btn btn-success" %></td>
              </tr>
            </tbody>
          </table>
          <% end %>
        </div>
      </div>
    </div>

    <!-- 遷移ボタン -->
    <div class="row row-btn">
      <div class="index-btn">
        <%= link_to "マイページ", mypage_path, class: "btn btn-default" %>
        <%= link_to "欲しいものを入力／変更する", wants_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>