
<div class="container">
  <%= form_for @user do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <div class="form-signin">
    <div class="user-info">
      <h2>プロフィールの変更</h2>
      <div class="field">
        <label>プロフィール画像</label><br>
        <%= f.file_field :profile_image, class: "img_field", style: "display:none;", accept: 'image/jpg, image/jpeg, image/png' %>
        <%= attachment_image_tag @user, :profile_image, placeholder: "プロフィール画像", fallback: "no_image.jpg", size:'90x90', onClick: "$('.img_field').click()", class: "center-block img-thumbnail img-responsive img_prev" %>
      </div>
      <div class="field">
        <%= f.label :ニックネーム %><br />
        <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
      </div>

      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :意気込み %><br />
        <%= f.text_area :introduction, autofocus: true, autocomplete: "introduction" %>
      </div>

      <div class="actions">
        <%= f.submit "プロフィールの更新", class: "btn btn-success"  %>
      </div>
      <%#= link_to "パスワードお忘れですか？", new_password_path(resource_name) %><br />
      <div class="actions">
        <% if user_signed_in? && @user.id == current_user.id %>
        <%= link_to "退会する", users_hide_path(current_user), method: :put, "data-confirm" => "本当に退会しますか？", class: "btn btn-danger" %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>