<h2>ユーザー一覧</h2>

<table>
      <% @users.each do |user| %>
  <thead>
    <tr>
      <th><%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></th>
      <th><%= user.nickname %></th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td>欲しいもの</td>
    </tr>
    <tr>
     <% user.wants.each do |want| %>
     <td><%= want.name %></td>
     <td><%= want.price %></td>
     <td><%= want.reason %></td>
   </tr>
   <% end %>
   <tr>
    <td>無駄遣い</td>
   </tr>

  <% user.wastes.each do |waste| %>
  <tr>
    <td><%= waste.name %></td>
    <td><%= waste.price %></td>
    <td><%= waste.reason %></td>
  </tr>
  <% end %>

</tbody>
  <% end %>

</table>
<!-- each で回すことで　オブジェクトを拾わずにデータの○番目、というとり方に -->
