<h2>マイページ</h2>


<h4><%= link_to "プロフィールを変更する", edit_user_registration_path %></h4>

<h3>Total</h3>
    <% sum = 0 %>
    <% @user.wastes.each do |waste| %>
    <% waste.price * waste.count %>
    <% sub_total = waste.price * waste.count %>
    <% sum+=sub_total %>
    <% end %>
<h3>Total<%= sum %>円</h3>
<!-- 合計額書く -->


<!-- <h3>継続日数</h3>カレンダー機能の時に -->
<table>
  <thead>
    <tr>
      <th>内訳</th>
    </tr>
  </thead>
  <tbody>
    <% @user.wastes.each do |waste| %>
    <tr>
      <td><%= waste.name %></td>
      <td>合計額<%= waste.price * waste.count %>円</td>
      <% sub_total = waste.price * waste.count %>
      <% sum+=sub_total %>
    </tr>
    <% end %>
    <td><%= link_to "無駄遣いを変更/追加する", wastes_path %></td>


  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>本日のガマン</th>
    </tr>
  </thead>
  <tbody>
    <% @user.wastes.each do |waste| %>
    <tr>
      <td><%= waste.name %></td>
      <td><%= waste.price %>円</td>
      <td>
        <%= button_to "ガマンできた！", {controller: 'wastes', action: 'count_up'}, {method: :patch, params: {waste: waste.id}} %>
      </td>
      <td>
        <%= button_to "使っちゃった…。", {controller: 'wastes', action: 'count_down'}, {method: :patch, params: {waste: waste.id}} %>
      </td>
      <td><%#= link_to "過去のガマンを書く", edit_waste_path(waste) %></td>
    </tr>
    <% end %>
  </tbody>
</table>


<table>
  <thead>
    <tr>
      <th>欲しい目標</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <% @user.wants.each do |want| %>
      <!-- <td>want.image 欲しいものの画像</td> -->
      <td><%= want.name %></td>
      <td><%= want.price %>円</td>
      <td><%= want.reason %></td>
      <td>あと<%= want.price-(sum/2) %>円</td>
      <td><%= link_to "購入画面へ進む", want_path(want) %></td>
    </tr>
    <% end %>
  </tbody>

</table>
<%= link_to "買いたかったものを買う！／変更する", wants_path %>
