<div class="container">
  <div class="row">
    <div class="profile">
      <div class="col-xs-6">
        <div class="profile-image">
          <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle", fallback: "no_image.jpg" %><br>
          <%= current_user.nickname %>
          <%= current_user.introduction %>
        </div>
      </div>

      <div class="col-xs-6">
        <div class="follow">
          <div>
            <p><%= link_to user_follows_path(current_user.id) do %>
            <%= @user.followings.count %><br>
            フォロー
            <% end %></p>
            <p><%= link_to user_followers_path(current_user.id) do %>
            <%= @user.followers.count %><br>
            フォロワー
            <% end %></p>
          </div>
          <div>
           <p><%= link_to "プロフィール変更", edit_user_path(current_user) %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

<div id="count">
<%= render partial: 'wastes/count', locals: { user_total_price: @user_total_price, user_difference_price: @user_difference_price, users_wastes_all: @users_wastes_all, users_purchase_all: @users_purchase_all, user: @user,waste_count_all: @waste_count_all } %>
</div>

   <div class="row index-btn">
    <%= link_to "目標変更", wants_path, class: "btn btn-default" %>
  </div>
</div>