<div class="container">

  <div class="row">
    <div class="text">
    <p>あなたが今一番欲しいものはなんですか？</p>
    <p>それが手に入らない理由はどのような理由でしょうか？</p>
    <p>他のユーザーの人と応援し合い、こつこつ節約している人をフォローして</p>
    <p>共に夢を叶えましょう。</p>
    <p>難しいことはありません。操作はワンクリック。まずは登録からどうぞ。</p>
  </div>

    <p class="col-xs-6 top-btn"><%= link_to "私もガマンする／新規登録", new_user_registration_path, class: "btn btn-default" %></p>
    <p class="col-xs-6 top-btn"><%= link_to "今日のガマン入力／ログイン", new_user_session_path, class: "btn btn-default" %></p>
  </div>


  <div class="row top-base">
    <div class="col-xs-6">
      <h3>みんなで積み上げた節約</h3>
      <h3><%= @users_wastes_all.to_s(:delimited) %>円</h3>
    </div>
    <div class="col-xs-6">
      <h3>みんなの目標達成額</h3>
      <h3><%= @users_purchase_all.to_s(:delimited) %>円</h3>
    </div>
  </div>

  <div class="row">
    <%= render "users/register" %>
  </div>

</div>

