<!DOCTYPE html>
<html>
<head>
  <title>こつつみ</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <!-- /header -->
  <header>
    <div class="container">
      <nav  class="nav navbar-nav navbar-left">
        <div class="logo">
          <%= link_to root_path do %>
          <%= image_tag 'want_no_image.jpg', :size =>'90x65' %>
          <% end %>
        </div>
      </nav>
      <nav class="nav navbar-nav navbar-right">
        <li><%= link_to "About", homes_about_path, class: "btn btn-default" %></li>
        <% if user_signed_in? %>
        <li><%= link_to "マイページ", mypage_path, class: "btn btn-default" %></li>
        <li><%= link_to "ユーザー一覧", users_path, class: "btn btn-default" %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-default" %></li>
        <% else %>
        <li><%= link_to "ユーザー一覧", users_path, class: "btn btn-default" %></li>
        <li><%= link_to "私もガマンする／新規登録", new_user_registration_path, class: "btn btn-default" %></li>
        <li><%= link_to "今日のガマン入力／ログイン", new_user_session_path, class: "btn btn-default" %></li>
        <% end %>
      </nav>
    </div>
  </header>
  <!-- /header -->
  </div>

  <%= yield %>

  <footer>
    <div>
      <p>CopyRight Cotsutsumi</p>
    </div>
  </footer>
</body>
</html>
